/* Blog template v. 1.005 */
/* By Michal Futera */
/* https://linktr.ee/mjfutera */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
    background-image: url("https://picsum.photos/1920/1080");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
}

.sm-banner {
    max-width: 100%;
}

.sm-banner:hover, .programming-logo:hover{
    transform: scale(1.25);
}

.side-picture {
    max-width: 100%;
    border-radius: 100%;
}

.side-picture:hover {
    transform: scaleX(-1);
}

.programming-logo {
    max-width: 150px;
}

/* marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
} */

.post-header-main-pic {
    width: 100%;
}

@media all and (min-width: 768px) {
    .post-header-main {
        aspect-ratio: 1/1;
    }

    .post-header-main-pic {
        object-fit: cover;
        width: 235px;
        aspect-ratio: 1 / 1;
        top: 0px;
        left: -150px;
    }
}